# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Teemporary directory
.tmp/
coverage/

# Dependency directory
node_modules/
bower_components/
/angular-typescript.iml
/.idea/
/typings/
/dist/test/
/test/**/*.js
/test/**/*.js.map
!/test/test-main.ts
